
@model AGDFiteness4.Models.Product

@{
    ViewBag.Title = "Details";
}

<style>
    body {
        box-sizing: border-box;
    }

    #largePicture {
        /*			width: 500px;*/
        height: 300px;
        border: 1px solid #ffffff;
        border-radius:10px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-shadow: 5px 5px 10px #888;
    }

    #largePicture:hover {
        background-size: 150%;
    }

    .hoverInfo {
        text-align: center;
    }

    #productNameHeader {
        margin: 0px 0px 10px 0px;
    }

    #smallImagesRow {
        margin: 20px 0px 0px 0px;
    }

    .smallerImagesholder {
        background-color: #ffffff;
        height: 110px;
        /*			min-width: 16%;*/
        margin: 0px 0px 0px 0px;
        padding: 10px;
        background-position: center;
        text-align: center;
        cursor: pointer;
    }

    .smallerImagespacer {
        height: 110px;
    }

    .smallerImages {
        background-position: center;
        background-size: contain;
        height: 80px;
        background-repeat: no-repeat;
        border: 1px solid black;
        border-radius: 10px;
    }

</style>

@*--------------------------------------------Alternative View----------------------------------------------------*@
<hr />
<div class="detailsHeaderDiv">
    <h3 id="productNameHeader" style="text-align:center">@Model.ProductName  </h3>
    <p class="text-center" style="font-size:30px;">@String.Format("{0:C}", Model.ProductPrice)</p>
</div>

<div class="row">
    <div id="itemImage01holder" class="smallerImagespacer col-md-3"></div>
    <div id="largePicture" class="col-md-6 imageDiv">
        <p class="hoverInfo">hover over this image to zoom in.</p>
    </div>
</div>

<div id="smallImagesRow" class="row">

    <div id="itemImageSpacerL" class="smallerImagespacer col-md-3" style="background-color:#ffffff;position:relative;">
        <span class="backButton" style="">
            <button class="btn btn-primary" onclick="goBack()" style="width:150px">Go Back</button>
        </span>
    </div>

    <!--spacerEnd-->

            <div id="itemImage01holder" class="smallerImagesholder col-md-2">
                <p id="itemImage01" class="smallerImages" onmouseover="showImage1()">
                </p>
            </div>

            <div id="itemImage02holder" class="smallerImagesholder col-md-2">
                <p id="itemImage02" class="smallerImages" onmouseover="showImage2()">
                </p>
            </div>

            <div id="itemImage03holder" class="smallerImagesholder col-md-2">
                <p id="itemImage03" class="smallerImages" onmouseover="showImage3()">
                </p>
            </div>

    <!--spacerStart-->

    <div id="itemImage01SpacerR" class="smallerImagespacer col-md-3" style="background-color:#ffffff;">
        <span class="cartButton" style="">

            @using (Html.BeginForm("AddToCart", "Cart"))
            {

                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" style="width:150px" />

            }
        </span>

    </div>


</div>


<script>
    document.getElementById("largePicture").style ="background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "" ,@Model.Image))";

    document.getElementById("itemImage01").style = "background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "" ,@Model.Image))";

    document.getElementById("itemImage02").style = "background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "2_" ,@Model.Image))";

    document.getElementById("itemImage03").style = "background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "3_" ,@Model.Image))";

    function showImage1() {
        document.getElementById("largePicture").style = "background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "" ,@Model.Image))";
    }

    function showImage2() {
        document.getElementById("largePicture").style = "background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "2_" ,@Model.Image))";
    }

    function showImage3() {
        document.getElementById("largePicture").style = "background-Image:url(/Content/Images/ProductImages/@(String.Format("{0}{1}", "3_" ,@Model.Image))";
    }

    let image = document.querySelector(".imageDiv");

    image.addEventListener("mousemove", function (e) {

        document.querySelector(".hoverInfo").style.display = "none";

        let imageWidth = image.offsetWidth;
        let imageHeight = image.offsetHeight;

        let mouseX = e.offsetX;
        let mouseY = e.offsetY;

        let bgPosX = (mouseX / imageWidth * 100);
        let bgPosY = (mouseY / imageHeight * 100);

        image.style.backgroundPosition = `${bgPosX}% ${bgPosY}%`;
    });

    image.addEventListener("mouseleave", function (e) {
        image.style.backgroundPosition = "center";
        document.querySelector(".hoverInfo").style.display = "block";
    });


</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>
