
@{
    ViewBag.Title = "Completed";
}
<div id="ThankYouMessage">
    <h2>Your order was successful!</h2>

    <h3>Thanks for placing your order. We'll ship your goods as soon as possible.</h3>
    <hr />
    <a class="btn btn-primary" href="@Url.Action("CustomerList","Customer","")">Back to Shop</a>

</div>